@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 4.2em;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 35px;
}

h2 {
  font-size: 3.7em;
}

h3 {
  font-size: 2.1em;
}

p {
  font-size: 1.4em;
}

ul {
  list-style-type: none;
}

.color-acento {
  color: #11dbca;
}

.color-acento:hover {
  color: #292929;
  transition: color 0.3s;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  display: flex;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fafafa;
}

header .logodylunio {
  margin: 0;
  padding: 15px 30px;
}

header .logodylunio img {
  height: 50px;
  margin-right: 10px;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav a {
  font-weight: 600;
  padding-right: 40px;
  text-decoration: none;
  color: #00f5f5;
}

header nav a:hover {
  color: #292929;
  transition: color 0.3s;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: aliceblue;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Hero-fotor-2023101611455.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#hero img {
  max-width: 100%;
  height: auto;
}

#hero-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#hero-2 p {
  font-size: 1.4em;
  margin-bottom: 40px;
}

#hero-2 h1 {
  font-size: 4em;
  height: 40vh;
  padding: 30px;
  padding-bottom: 10px;
  color: aliceblue;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Dyluniocalco.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-2 h3 {
  font-size: 2em;
  padding: 20px;
  font-weight: bold;
  color: aqua;
}

#hero-2 h3:hover {
  color: #292929;
  transition: color 0.3s;
}

#hero-3 {
  font-size: 1.2em;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#hero-4 h1 {
  font-size: 4em;
  height: 40vh;
  padding: 30px;
  padding-bottom: 10px;
  color: aliceblue;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/diseño-grafico.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-5 h1 {
  font-size: 4em;
  height: 40vh;
  padding: 30px;
  padding-bottom: 10px;
  color: aliceblue;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Fotoproductos/foto4.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#somosdylunio .container {
  text-align: center;
  padding: 100px 10px;
}

#nuestros-servicios {
  text-align: center;
  color: aliceblue;
  background-color: #1b1b1b;
}

#nuestros-servicios .servicios:first-child {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/diseño-grafico.jpg);
  background-position: center;
  background-size: cover;
  margin: 30px;
  border-radius: 10px;
}

#nuestros-servicios .servicios:nth-child(2) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/Servicio4.jpg);
  background-position: center;
  background-size: cover;
  margin: 30px;
  border-radius: 10px;
}

#nuestros-servicios .servicios:nth-child(3) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/community-manager.jpg);
  background-position: center;
  background-size: cover;
  margin: 30px;
  border-radius: 10px;
}

#nuestros-servicios .servicios:nth-child(4) {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Imagenes/paginas-web.png);
  background-position: center;
  background-size: cover;
  margin: 30px;
  border-radius: 10px;
}

#nuestros-servicios .container {
  padding-bottom: 50px;
  padding-top: 50px;
}

#nuestros-servicios h3 {
  margin-top: 0;
  padding: 30px;
  font-weight: bold;
}

#nuestros-servicios .servicios {
  padding: 50px;
  margin-right: 50px;
}

#nuestros-servicios p {
  display: none;
}

#nuestros-diseños img {
  width: 50%;
  height: 50%;
}

#servicio-fotografia {
  margin: 0;
  padding: 0;
}

#servicio-fotografia img {
  width: 100%;
}

#servicio-fotografia .row {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

#servicio-fotografia .column {
  flex: 30%;
  padding: 5px;
}

#servicio-fotografia .column img {
  margin-top: 50px;
}

#servicio-fotografia .column img:hover {
  transform: scale(1.1);
}

#caracteristicas {
  margin: 100px;
}

#caracteristicas li {
  margin: 11px 0;
  font-weight: bold;
}

#contactanos {
  font-size: 2.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: azure;
  height: 56vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.96)), url(../Imagenes/Footer.JPG);
  background-position: center;
  background-size: cover;
}

#contactanos h3 {
  font-size: 2em;
}

footer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#carouselExampleControls {
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  margin: 30px;
  border-radius: 20px;
  width: 70%;
}

#proximo-disponible {
  font-size: 1em;
  font-weight: 500;
  padding: 15px;
  text-align: center;
}

#proximo-disponible h2 {
  font-weight: bold;
}

.nuestros-diseños img {
  max-width: 80%;
}

@media (min-width: 720px) {
  header .container {
    padding: 100px 30px;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    justify-content: flex-end;
  }
  #hero {
    padding: 100px;
  }
  #hero-2 {
    padding: 50px;
  }
  #hero-2 h3 {
    font-size: 3em;
  }
  #hero-3 {
    padding: 50px;
  }
  #nuestros-servicios {
    font-size: 2em;
  }
  #contactanos {
    padding: 100px;
  }
  #contactanos h3 {
    font-size: 2em;
  }
}

@media (min-width: 800px) {
  #servicio-fotografia .column {
    flex: 50px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  #servicio-fotografia .column {
    flex: 40px;
  }
}

@media (max-width: 599px) {
  #servicio-fotografia .column {
    flex: 20px;
  }
}
