$primary-font: 'Poppins', sans-serif;
$accent-color: rgb(47, 243, 227);
$background-color: rgb(238, 235, 235);
$dark-background-color: rgb(51, 51, 51);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
}

h1 {
  font-size: 4.2em;
  font-weight: bold;
  line-height: 80px;
  margin-bottom: 35px;
}

h2 {
  font-size: 3.7em;
}

h3 {
  font-size: 1.1em;
}

p {
  font-size: 1.4em;
}

ul {
  list-style-type: none;
}

.color-acento {
  color: $accent-color;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  display: flex;
  min-height: 120px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: $background-color;

  .logodylunio {
    margin: 0;
    padding: 15px 30px;
  }

  .logodylunio img {
    height: 50px;
    margin-right: 10px;
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      font-weight: 600;
      padding-right: 40px;
      text-decoration: none;
      color: black;

      &:hover {
        color: rgb(2, 255, 242);
        transition: color 0.3s;
      }
    }
  }
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  color: aliceblue;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../Imagenes/Hero-fotor-2023101611455.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  img {
    max-width: 100%;
    height: auto;
  }
}

#hero-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  p {
    font-size: 1.4em;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 5em;
    height: 40vh;
    padding: 30px;
    padding-bottom: 10px;
    color: aliceblue;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Imagenes/Dyluniocalco.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 2em;
    padding: 20px;
    font-weight: bold;
    color: aqua;
  }
}

#hero-3 {
  font-size: 1.2em;
  padding: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#hero-4 {
  h1 {
    font-size: 4em;
    height: 40vh;
    padding: 30px;
    padding-bottom: 10px;
    color: aliceblue;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Imagenes/diseño-grafico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#hero-5 {
  h1 {
    font-size: 4em;
    height: 40vh;
    padding: 30px;
    padding-bottom: 10px;
    color: aliceblue;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Fotoproductos/foto4.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#somosdylunio {
  .container {
    text-align: center;
    padding: 100px 10px;
  }
}

#nuestros-servicios {
  text-align: center;
  color: aliceblue;
  background-color: $dark-background-color;

  .container {
    padding-bottom: 50px;
    padding-top: 50px;
  }

  h3 {
    margin-top: 0;
    padding: 30px;
    font-weight: bold;
  }

  .servicios {
    padding: 50px;
    margin-right: 50px;
  }

  p {
    display: none;
  }

  &:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Imagenes/diseño-grafico.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px;
    border-radius: 10px;
  }

  &:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Imagenes/community-manager.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px;
    border-radius: 10px;
  }

  &:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Imagenes/fotografia.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px;
    border-radius: 10px;
  }

  &:nth-child(4) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../Imagenes/paginas-web.png);
    background-position: center;
    background-size: cover;
    margin: 30px;
    border-radius: 10px;
  }
}

#servicio-fotografia {
  margin: 0;
  padding: 0;

  img {
    width: 100%;
  }

  .row {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
  }

  .column {
    flex: 30%;
    padding: 5px;

    img {
      margin-top: 50px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#caracteristicas {
  li {
    margin: 11px 0;
    font-weight: bold;
  }

  margin: 100px;
}

#contactanos {
  font-size: 2.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: azure;
  height: 56vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.96)),
    url(../Imagenes/Footer.JPG);
  background-position: center;
  background-size: cover;

  h3 {
    font-size: 2em;
  }
}

footer {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#proximo-disponible {
  font-size: 1em;
  font-weight: 500;
  padding: 15px;
  text-align: center;

  h2 {
    font-weight: bold;
  }
}

@media (min-width: 720px) {
  header .container {
    padding: 100px 30px;
  }

  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
    justify-content: flex-end;
  }

  #hero {
    padding: 100px;
  }

  #hero-2 {
    padding: 50px;

    h3 {
      font-size: 3em;
    }
  }

  #hero-3 {
    padding: 50px;
  }

  #nuestros-servicios {
    font-size: 2em;
  }

  #contactanos {
    padding: 100px;

    h3 {
      font-size: 2em;
    }
  }
}

@media (min-width: 800px) {
  #servicio-fotografia .column {
    flex: 50px;
  }
}

@media (min-width: 600px) and (max-width: 799px) {
  #servicio-fotografia .column {
    flex: 40px;
  }
}

@media (max-width: 599px) {
  #servicio-fotografia .column {
    flex: 20px;
  }
}